* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: normal;
  color: rgba(33, 33, 33, 1);
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  outline: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
  font-family: inherit;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0;
}
