.btn,
.btn__categories,
.btn__popular,
.btn__form {
  display: block;
  width: 124px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  border-radius: 10px;
  color: #fcff19;
}

.btn__categories {
  display: none;
  position: absolute;
  left: 33%;
  top: 75%;
  background-color: transparent;
  border: 3px solid white;
}

.btn__popular,
.btn__form {
  width: 96px;
  background-color: #b7b7b7;
  color: white;
}

.btn__form {
  width: 100%;
  margin-top: 20px;
}

.btn__popular:hover,
.btn__form:hover {
  background-color: black;
  color: #fcff19;
  transition: all 0.5s ease;
}

.btn__popular:not(:hover),
.btn__form:not(:hover) {
  transition: all 0.5s ease;
}

.btn:hover,
.btn__categories:hover {
  transition: all 0.5s ease;
  color: purple;
  ;
}

.btn:not(:hover),
.btn__categories:not(:hover) {
  transition: all 0.5s ease;
}

.btn:active,
.btn__categories:active {
  color: coral;
}
