.categories {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/categories-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.categories__wrapper {
  width: calc(100% - 404px);
  margin: 0 auto;
  text-align: center;
}

.categories__title {
  padding-top: 60px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.categories__items {
  display: flex;
  justify-content: space-between;
  margin-top: 25vh;
}

.categories__item {
  position: relative;
  min-width: 346px;
}

.categories__item::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 288px 0 0 346px;
  border-color: transparent transparent transparent rgba(252, 255, 25, 0.17);
}

.categories__item:hover::before {
  display: block;
}

.categories__item:hover .btn__categories {
  display: block;
}

.categories__field {
  position: absolute;
  width: 346px;
  left: 0;
  top: 50%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fcff19;
}

.categories__value {
  position: absolute;
  width: 346px;
  left: 0;
  top: 60%;
  font-size: 16px;
  font-weight: 300;
  color: white;
}
