.page-title {
  z-index: 1;
  position: absolute;
  top: calc(100vh - 70%);
  left: 36.1%;
  text-align: center;
}

.page-title>h1 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.page-title>p {
  margin-bottom: 34px;
  font-size: 28px;
  font-weight: 100;
  color: white;
}

.page-title__inner {
  color: #fcff19;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .page-title {
    top: calc(100vh - 85%);
    left: calc(100vw - 85%);
  }
}
