.popular {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.popular__wrapper {
  width: calc(100% - 50px);
  margin: 0 auto;
  text-align: center;
}

.popular__title {
  padding-top: 60px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.popular__items {
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
}

.popular__item {
  position: relative;
  min-width: 490px;
}

.popular__info {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 490px;
  height: 43px;
}

.popular__name,
.popular__price {
  width: 45%;
  height: 50%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.popular__price {
  font-weight: 300;
}

.popular__option {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  line-height: 43px;
  text-transform: uppercase;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
}

.popular_btn {
  width: 25%;
  height: 100%;
}
